.App {
  text-align: center;
  display: flex; /*👉df👈*/
  flex-direction: column; /*👉df👈*/
  justify-content: center; /*👉df👈*/
  align-items: center; /*👉df👈*/
  align-content: center; /*👉df👈*/
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
